<html>
<head>
	<meta charset="UTF-8">
	<title>Ping_Tool</title>
	<link rel="icon" type="image/x-icon" href="./statics/favicon.ico">
	<script type="text/javascript" src="./js/vue.js"></script>
	<script type="text/javascript" src="./js/axios.min.js"></script>
	<script type="text/javascript" src="./js/ping.js"></script>
	<link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body >
	<header fxlayout="row"; fxlayoutalign="center" fxlayoutgap="20px" >
		<img alt="Logo" style="margin-right: 20px;" src="./statics/al.png">
		<span fxflex="" style="margin-right: 20px; flex: 1 1 0%; box-sizing: border-box;"></span>
		<span style="margin-right: 15px; text-decoration: line-through">
			<a href='#'>编辑气站IP库</a>
		</span>
		<span style="margin-right: 15px;">|</span>
		<span style="margin-right: 15px;">Asia/Shanghai +08:00</span>
		<span style="margin-right: 15px;">|</span>
		<span style="font-size: 12; margin-right: 15px;">v-0.2</span>		
	</header>
	<div id="app">
		<div style="font-size: 42; font-weight: 800; margin-bottom: 5px;">OCC_连通性测试工具</div>
		<div style="font-size: 12;">说明：每3s更新，若卡住直接F5</div>
		<br>
		<div >
			<div class="ping_box">1.
				<input v-model="ip_1" placeholder="输入IP, 可不加10.16">	
				<button type='button' @click="ping_start(ip_1, 1)">Ping</button>
				<button type='button' @click="stop_latency_1(ip_1)">Stop</button>
				<div v-if='show_1'>
					<span>IP: [[ show_ip_1 ]]</span>
					<span id=ping1>状态: 超时...</span>		
				</div>					
			</div>
			<div class="ping_box">2.
				<input v-model="ip_2">	
				<button type='button' @click="ping_start(ip_2, 2)">Ping</button>
				<button type='button' @click="stop_latency_2(ip_2)">Stop</button>
				<div v-if='show_2'>
					<span>IP: [[ show_ip_2 ]]</span>
					<span id=ping2>状态: 超时...</span>		
				</div>					
			</div>
			<div class="ping_box">3.
				<input v-model="ip_3">	
				<button type='button' @click="ping_start(ip_3, 3)">Ping</button>
				<button type='button' @click="stop_latency_3(ip_3)">Stop</button>
				<div v-if='show_3'>
					<span>IP: [[ show_ip_3 ]]</span>
					<span id=ping3>状态: 超时...</span>		
				</div>					
			</div>
			<div class="ping_box">4.
				<input v-model="ip_4">	
				<button type='button' @click="ping_start(ip_4, 4)">Ping</button>
				<button type='button' @click="stop_latency_4(ip_4)">Stop</button>
				<div v-if='show_4'>
					<span>IP: [[ show_ip_4 ]]</span>
					<span id=ping4>状态: 超时...</span>		
				</div>					
			</div>
			<div class="ping_box">5.
				<input v-model="ip_5">	
				<button type='button' @click="ping_start(ip_5, 5)">Ping</button>
				<button type='button' @click="stop_latency_5(ip_5)">Stop</button>
				<div v-if='show_5'>
					<span>IP: [[ show_ip_5 ]]</span>
					<span id=ping5>状态: 超时...</span>		
				</div>					
			</div>
			<hr style="margin-top: 50px;">
			<footer style="-webkit-transform-origin-x: 50%; -webkit-transform: scale(0.70);">
				<div style="font-size: 15;">实现：通过获取网站 Favicon.ico 测试网络连通性，延迟值仅供参考</div>
				<div style="font-size: 10;">HooWoo.</div>
			</footer>
		</div>
	</div>
	
	<script type="text/javascript">
		var vm = new Vue({
			el: "#app",
			delimiters: ['[[', ']]'],
			data:{
				ip_1: "",
				show_ip_1 : "",
				show_1 : false,
				inter_1 : null,
				//////////
				ip_2: "",
				show_ip_2 : "",
				show_2 : false,
				inter_2 : null,
				//////////
				ip_3: "",
				show_ip_3 : "",
				show_3 : false,
				inter_3 : null,
				//////////
				ip_4: "",
				show_ip_4 : "",
				show_4 : false,
				inter_4 : null,
				//////////
				ip_5: "",
				show_ip_5 : "",
				show_5 : false,
				inter_5 : null,
			},
			methods:{
				get_latency(ip, p, index){
					let ping_value = null;
					let ip_port = ip + ':808'
					if (index == 1) {
						ping_value = document.getElementById("ping1");	
					} else if (index == 2){
						ping_value = document.getElementById("ping2");
					} else if (index == 3){
						ping_value = document.getElementById("ping3");
					} else if (index == 4){
						ping_value = document.getElementById("ping4");
					} else if (index == 5){
						ping_value = document.getElementById("ping5");
					}
					p.ping(ip, function(err, data){
						if (data < 1000 && data > 1) {
							ping_value.textContent = ' 状态: OK 延迟: ' + data;	
						}
					})
					p.ping(ip_port, function(err, data){					
						if (data < 1000 && data > 1 && ok == 0) {
							ping_value.textContent = ' 状态: OK 延迟: ' + data;				
						}
					})
					
				},
				
				stop_latency_1(){
					clearInterval(this.inter_1)
					this.show_1 = false
					this.ip_1 = '';
				},

				stop_latency_2(){
					clearInterval(this.inter_2)
					this.show_2 = false
					this.ip_2 = '';
				},

				stop_latency_3(){
					clearInterval(this.inter_3)
					this.show_3 = false
					this.ip_3 = '';
				},

				stop_latency_4(){
					clearInterval(this.inter_4)
					this.show_4 = false
					this.ip_4 = '';
				},

				stop_latency_5(){
					clearInterval(this.inter_5)
					this.show_5 = false
					this.ip_5 = '';
				},
				
				ping_start(raw_ip, index){	
					let wrong = 0;
					let type_ip = raw_ip.split('.').length;
					if (raw_ip.endsWith('com')) {
						type_ip = 4
					}
					if (type_ip == 2) {
						raw_ip = '10.16.' + raw_ip;
					} else if (type_ip == 4) {
						   //pass;
					} else {
						alert('IP格式不正确');
						wrong = 1;
					}

					if (wrong == 0) {
						if (index == 1) {
							this.show_ip_1 = raw_ip;
							this.show_1 = true;	
						} else if (index == 2){
							this.show_ip_2 = raw_ip
							this.show_2 = true;
						} else if (index == 3){
							this.show_ip_3 = raw_ip
							this.show_3 = true;
						} else if (index == 4){
							this.show_ip_4 = raw_ip
							this.show_4 = true;
						} else if (index == 5){
							this.show_ip_5 = raw_ip
							this.show_5 = true;
						}
						let ip = 'http://' + raw_ip;		
						let p = new Ping(1000);
						if (index == 1) {
							this.inter_1 = setInterval(this.get_latency, 3000, ip, p, 1);	
						} else if (index == 2){
							this.inter_2 = setInterval(this.get_latency, 3000, ip, p, 2);
						} else if (index == 3){
							this.inter_3 = setInterval(this.get_latency, 3000, ip, p, 3);
						} else if (index == 4){
							this.inter_4 = setInterval(this.get_latency, 3000, ip, p, 4);
						} else if (index == 5){
							this.inter_5 = setInterval(this.get_latency, 3000, ip, p, 5);
						}	
					}
								
				},				
			},
		})
	</script>
</body>
</html>